* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

h1::after {
    content: "";
    display:  inline-block;
    width: 20%;
    border-bottom:  3px solid black;
    margin: 0 auto;
    display: block;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.container img {
    margin-bottom: 20px;
    border: 2px solid black;
    flex-grow: 1;
    flex-basis: 20%;
}