* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 10px 25px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.navbar__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.categories {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    overflow-x: inherit;
    padding: 10px 30px;
}

.categories__section {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px;
}

.categories__section:hover {
    opacity: 0.5;
    border-bottom: 2px solid black;
}

.categories__section p {
    font-weight: 600;
}


.search {
    margin: 30px auto;
    border: 1px solid solid;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    width: 380px;
}

.search__s1 {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.search__s1 input {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    opacity: 0.8;
}

.search button {
    width: 100%;
    margin-top: 15px;
    font-weight: bold;
    height: 45px;
    border: none;
    border-radius: 30px;
    background-color: #84E9BD;
    font-size: 16px;
}


.center-img {
    position: relative;
}

.center-img img {
    border: none;
    border-radius: 10px;
}

.center-img__description {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

.center-img__description h1 {
    font-size: 40px;
    font-weight: 700;
}

.center-img__description p {
    font-size: 15px;
    font-weight: 700;
}

.center-img__description button {
    margin-top: 20px;
    width: 130px;
    height: 45px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



.container-1 {
    margin-top: 50px;
    padding: 20px;
}

.container-1 h2 {
    font-size: 25px;
    padding-bottom: 10px;
}

.container-1 p {
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: lighter;
}

.container-1-image {
    display: flex;
    gap: 20px;
    overflow: hidden;
    overflow-x: scroll;
}

.container-1-section {
    position: relative;
    cursor: pointer;
}

.container-1-section p {
    position: absolute;
    left: 10px;
    bottom: -15px;
    color: black;
    font-size: 25px;
    font-weight: 800;
}

.container-1-section img {
    border-radius: 10px;
}

.container-1-section:hover {
    opacity: 0.8;
}